﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="User.master.cs" Inherits="JSM.User.User" %>

<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="JSM.User" %>
<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="utf-8">
    <title>Gleaming Gems</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="../UserTemplate/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <%--DataTable CSS--%>
    <link href="../AdminTemplate/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <%--<link href="../AdminTemplate/datatables/css/icon-font.min.css" rel="stylesheet" />--%>
    <link href="../AdminTemplate/datatables/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <script src="../AdminTemplate/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Libraries Stylesheet -->
    <link href="../UserTemplate/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <%-- JQuery  --%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Customized Bootstrap Stylesheet -->
    <link href="../UserTemplate/css/style.css" rel="stylesheet">
    <script> 
        $(function () {
            var url = window.location.href;
            $("#navbarCollapse a").each(function () {
                if (url == (this.href)) {
                    $(this).addClass("active");
                }
            });
        });
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <%
            string navClass = string.Empty;
            if (Request.Url.AbsoluteUri.ToString().Contains("Default.aspx"))
            {
                navClass = "show";
            }
            else
            {
                navClass = "position-absolute";
            }
        %>
        <!-- Topbar Start -->
        <div class="container-fluid">
            <div class="row align-items-center py-3 px-xl-5">
                <div class="col-lg-3 d-none d-lg-block">
                    <a href="#" class="text-decoration-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">Gleaming</span>Gems</h1>
                    </a>
                </div>
                <div class="col-lg-6 col-6 text-left">
                </div>
                <div class="col-lg-3 col-6 text-right">
                    <asp:HyperLink ID="heartLink" NavigateUrl="~/User/Orders.aspx" runat="server" CssClass="btn border">
                        <i class="fas fa-shopping-bag text-primary" aria-hidden="true"></i>
                        <span class="badge">0</span>
                    </asp:HyperLink>

                    <asp:HyperLink ID="cartLink" NavigateUrl="ShoppingCart.aspx" runat="server" CssClass="btn border">
                        <i class="fas fa-shopping-cart text-primary"></i>
                        <asp:Label ID="cartItemCount" runat="server"></asp:Label>
                        <%--<span id="cartItemCount" class="badge">0</span>--%>
                    </asp:HyperLink>

                </div>
            </div>
        </div>
        <!-- Topbar End -->
        <!-- Navbar Start -->
        <div class="container-fluid mb-5">
            <div class="row border-top px-xl-5">
                <div class="col-lg-3 d-none d-lg-block">
                    <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                        <h6 class="m-0">Categories</h6>
                        <i class="fa fa-angle-down text-dark"></i>
                    </a>
                    <nav class="collapse <%= navClass %> navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                        <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                            <% 
                                JSM.User.User categoryManager = new JSM.User.User();
                                DataTable categories = categoryManager.GetAllCategories();
                                foreach (DataRow row in categories.Rows)
                                {
                            %>
                            <%
                                string UserID = Request.QueryString["UserId"];

                            %>
                            <a href="Shop.aspx?&CategoryID=<%= row["CategoryID"]+ "&UserId=" + UserID %>" class="nav-item nav-link">
                                <%= row["CategoryName"] %>
                            </a>
                            <% 
                                }
                            %>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-9">
                    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                        <a href="#" class="text-decoration-none d-block d-lg-none">
                            <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a href="Default.aspx" class="nav-item nav-link ">Home</a>
                                <a href="Shop.aspx" class="nav-item nav-link">Shop</a>
                                <a href="ShopDetail.aspx" class="nav-item nav-link">Shop Detail</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                                    <div class="dropdown-menu rounded-0 m-0">
                                        <a href="ShoppingCart.aspx" class="dropdown-item">Shopping Cart</a>
                                        <a href="checkout.aspx" class="dropdown-item">Checkout</a>
                                    </div>
                                </div>
                                <a href="contact.aspx" class="nav-item nav-link">Contact</a>
                            </div>
                            <div class="navbar-nav ml-auto py-0">
                                <% 
                                    string currentUrl = Request.Url.AbsoluteUri.ToString();
                                    string loginUrl = "signup.aspx?PreviousUrl=" + Server.UrlEncode(currentUrl);
                                %>
                                <asp:HyperLink ID="loginLink" runat="server" NavigateUrl='<%= loginUrl %>' CssClass="nav-item nav-link">Login</asp:HyperLink>
                            </div>
                        </div>
                    </nav>
                    <asp:Panel ID="SliderUC" runat="server"></asp:Panel>
                </div>
            </div>
        </div>
        <!-- Navbar End -->
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>

        <!-- Footer Start -->
        <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
            <div class="row px-xl-5 pt-5">
                <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                    <a href="" class="text-decoration-none">
                        <h1 class="mb-4 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border border-white px-3 mr-1">Gleeming</span>Gems</h1>
                    </a>
                    <p>With our user-friendly interface and secure payment options, shopping has never been easier. Enjoy the convenience of browsing our store from the comfort of your own home, with the assurance that your transactions are protected every step of the way.</p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>UET LAHORE</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>noumanmughal0123@gmail.com</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+923228429291</p>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" href="Default.aspx"><i class="fa fa-angle-right mr-2"></i>Home</a>
                                <a class="text-dark mb-2" href="Shop.aspx"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                                <a class="text-dark mb-2" href="ShopDetail.aspx"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                                <a class="text-dark mb-2" href="ShoppingCart.aspx"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                                <a class="text-dark mb-2" href="checkout.aspx"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                                <a class="text-dark" href="contact.aspx"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                            </div>
                        </div>
                        <%--<div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                                <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our Shop</a>
                                <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop Detail</a>
                                <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                                <a class="text-dark mb-2" href="checkout.html"><i class="fa fa-angle-right mr-2"></i>Checkout</a>
                                <a class="text-dark" href="contact.aspx"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                            </div>
                        </div>--%>
                        <%--<div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                            <form action="#">
                                <div class="form-group">
                                    <input type="text" class="form-control border-0 py-4" placeholder="Your Name" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                        required="required" />
                                </div>
                                <div>
                                    <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe Now</button>
                                </div>
                            </form>
                        </div>--%>
                    </div>
                </div>
            </div>
            <%--<div class="row border-top border-light mx-xl-5 py-4">
                <div class="col-md-6 px-xl-0">
                    <p class="mb-md-0 text-center text-md-left text-dark">
                        &copy; <a class="text-dark font-weight-semi-bold" href="#">Your Site Name</a>. All Rights Reserved. Designed
                    by
                    <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">HTML Codex</a><br>
                        Distributed By <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    </p>
                </div>
                <div class="col-md-6 px-xl-0 text-center text-md-right">
                    <img class="img-fluid" src="img/payments.png" alt="">
                </div>
            </div>--%>
        </div>
        <!-- Footer End -->



    </form>
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
    <script src="../AdminTemplate/datatables/js/jquery.dataTables.min.js"></script>
    <%--<script src="../AdminTemplate/datatables/js/buttons.bootstrap4.min.js"></script>--%>
    <script src="../AdminTemplate/datatables/js/jquery.dataTables.min.js"></script>
    <%--<script src="../AdminTemplate/datatables/js/buttons.bootstrap4.min.js"></script>--%>
    <script src="../AdminTemplate/datatables/js/dataTables.responsive.min.js"></script>
    <script src="../AdminTemplate/datatables/js/responsive.bootstrap4.min.js"></script>
    <script src="../AdminTemplate/datatables/js/dataTables.bootstrap4.min.js"></script>
    <%-- Datatables Button for Export --%>
    <script src="../AdminTemplate/datatables/js/dataTables.buttons.min.js"></script>
    <script src="../AdminTemplate/datatables/js/buttons.print.min.js"></script>
    <script src="../AdminTemplate/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="../AdminTemplate/datatables/js/buttons.html5.min.js"></script>
    <script src="../AdminTemplate/datatables/js/buttons.flash.min.js"></script>
    <script src="../AdminTemplate/datatables/js/pdfmake.min.js"></script>
    <script src="../AdminTemplate/datatables/js/vfs_fonts.js"></script>
    <%-- Datatables Settings Js --%>
    <script src="../AdminTemplate/datatables/js/datatable-setting.js"></script>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="../UserTemplate/lib/easing/easing.min.js"></script>
    <script src="../UserTemplate/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="../UserTemplate/mail/jqBootstrapValidation.min.js"></script>
    <script src="../UserTemplate/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="../UserTemplate/js/main.js"></script>
</body>
</html>
